# Datos de las bases de datos
data/mysql/
data/mssql/
data/oracle/
data/postgres/

# Datos de las bases de datos del proyecto
pry-sbarboza/app-entreganexo/data/

# Variables de entorno
.env
.env.*

# Backups
backups/
pry-sbarboza/app-entreganexo/backup/
